body {
    text-align: center;
    /* background-color: #011F3F; */
    background-image: linear-gradient(to bottom right,rgb(33, 33, 99),rgb(18, 18, 118));
  }
  
  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    line-height: 2;
    color: #FEF2BF;
  }
  
  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 100%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    /* background-color: red; */
    background-image: radial-gradient(rgb(247, 8, 8),rgb(255, 132, 0));
  }
  
  .green {
    /* background-color: green; */
    background-image: radial-gradient(rgb(48, 182, 41),rgb(31, 203, 148));
  }
  
  .blue {
    /* background-color: blue; */
    background-image: radial-gradient(rgb(48, 48, 247),rgb(94, 94, 251));
  }
  
  .yellow {
    /* background-color: yellow; */
    background-image: radial-gradient(rgb(240, 225, 18),rgb(227, 247, 48));
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
  